/* ===================================== */
/* Container */
/* ===================================== */

.route-lines{

    position:absolute;
    inset:0;

    overflow:hidden;

}

/* ===================================== */

.route-svg{

    width:100%;
    height:100%;

}

/* ===================================== */

.route{

    fill:none;

    stroke:url(#routeGradient);

    stroke-width:2;

    stroke-linecap:round;

    stroke-dasharray:10 16;

    filter:url(#routeGlow);

    opacity:.28;

    animation:routeFlow linear infinite;

}

/* ===================================== */

.route-fast{

    animation-duration:8s;

}

.route-medium{

    animation-duration:13s;

}

.route-slow{

    animation-duration:18s;

}

/* ===================================== */

@keyframes routeFlow{

    from{

        stroke-dashoffset:0;

    }

    to{

        stroke-dashoffset:-320;

    }

}